<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gbardeli.evolvedatabase" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CacadoresActivity"
            android:label="@string/title_activity_cacadores" >
        </activity>
        <activity
            android:name=".ClasseActivity"
            android:label="@string/title_activity_classe" >
        </activity>
        <activity
            android:name=".MonstrosActivity"
            android:label="@string/title_activity_monstros" >
        </activity>
    </application>

</manifest>
